#root {
  margin: 0;
}

.App {
  height: 100vh;
  /* background-color: red; */
}
.point {
  height: 15px;
  width: 15px;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  background: blue;
}
